<form  #shipmentForm="ngForm" class="grid place-items-center" (ngSubmit)="shipmentSubmit(shipmentForm)">
    <fieldset class="mb-3 p-5 bg-white border rounded">
        <label for="receiverName" class="block">Receiver Name</label>
        <input type="text" 
        ngModel
        #receiverName="ngModel"
        required="This field is required"
        minlength="3"
        name="receiverName" id="receiverName"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="Bruce Lee">
        <label for="destination" class="block">Destination</label>
        <input type="text" 
        ngModel
        #destination="ngModel"
        required="This field is required"
        name="destination" id="destination"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="Sweden">

        <label for="weight" class="block">Weight</label>
        <input type="text"
        ngModel
        #Weight="ngModel"
        required="This field is required"
        name="weight" id="weight"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="5" >

        <label for="boxColor" class="block">Box Color</label>
        <input type="text" 
        ngModel
        #boxColor="ngModel"
        required="This field is required"
        minlength="3"
        name="boxColor" id="boxColor"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="color" >



           <label for="email" class="block">Email</label>
           <input type="text" 
           ngModel
           #email="ngModel"
           required="This field is required"
           name="email" id="email"
           class="border border-slate-300 p-2 rounded 2-full" 
           placeholder="example@example.com" >


    </fieldset>
    <button   
    [disabled]="shipmentForm.form.invalid"
     type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Send Shipment</button>
</form>
