
<body class="color-theme-yellow h-screen"> 
    <div ng-app = "myApp" class = "container" style="width:550px">
        <div class="login-box">
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
                <fieldset class="mb-5">
            <h2>Login</h2>
            <div class="user-box">
            <label for="email"></label>
            </div>
            <input type="text"
            ngModel
            #email="ngModel"
            name="email" id="email"
            class="border p-2 rounded w-full"
            required=""
            placeholder="Enter email here please!">
        </fieldset>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div> 
    </div>

<div class="text-white" *ngIf="email.errors && (email.touched)"> <p 
     *ngIf="email.errors['required']" > required please enter a email </p>
         <p *ngIf="email.errors['minlength']" > too short</p></div>
