<div class="login-box">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        <fieldset class="mb-3">
            <h2>Login</h2>
            <div class="user-box">
            <label for="email"></label>
            </div>
            <input type="text"
            ngModel
            #email="ngModel"
            name="email" id="email"
            class="border p-2 rounded w-full bg-slate-600"
            required=""
            placeholder="Enter email here please!">
        </fieldset>
        <button type="submit" class="bg-slate-600 p-2 rounded">Login</button>
    </form>
    </div>

<div class="text-white" *ngIf="email.errors && (email.touched)"> <p 
     *ngIf="email.errors['required']" > required please enter a email </p>
         <p *ngIf="email.errors['minlength']" > too short</p></div>