<body class="color-theme-yellow h-screen">
  <div ng-app="myApp" class="container" style="width: 550px">
    <div style="text-align: center">
      <h3><b>User Registraion</b></h3>
    </div>
    <div ng-controller="RegisterController">
      <div align="right"></div>
      <form
        role="form"
        class="well"
        ng-hide="ifSearchUser"
        #registerForm="ngForm"
        (ngSubmit)="registerSubmit(registerForm)"
      >
        <div class="form-group">
          <label for="firstname"> First Name: </label>
          <input
          ngModel
          #firstname
          name="firstname"
          type="firstname"
          id="firstname"
          class="form-control"
          placeholder="firstname"
          />
        </div>
        <div class="form-group">
          <label for="lastname"> Last Name: </label>
          <input
          ngModel
          #lastname
          name="lastname"
          type="lastname"
          id="lastname"
          class="form-control"
          placeholder="lastname"
          />
        </div>
        <div class="form-group">
          <label for="email"> Email: </label>
          <input
          ngModel
          #email
          name="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="email"
          />
        </div>
        <div class="form-group">
          <label for="password"> Password: </label>
          <input
          ngModel
          #password
          name="password"
          type="password"
          id="password"
          class="form-control"
          placeholder="password"
          />
        </div>
        <div class="form-group">
          <label for="comfirmpassword"> Comfirm Password: </label>
          <input
          ngModel
          #country
          name="comfirmpassword"
          type="password"
          id="comfirmpassword"
          class="form-control"
          placeholder="comfirmpassword"
          />
        </div>
        <div class="form-group">
          <label for="country"> Country: </label>
          <input
          ngModel
          #country
          name="country"
          type="text"
          id="country"
          class="form-control"
          placeholder="Enter country"
          />
        </div>
        <div class="form-group">
          <label for="postalcode"> Postal Code: </label>
          <input
            ngModel
            #postalcode
            name="postalcode"
            type="text"
            id="postalcode"
            class="form-control"
            placeholder="Enter Postal Code"
          />
        </div>
        <div class="form-group">
          <label for="phone"> Phone: </label>
          <input
            ngModel
            #phone
            name="phone"
            type="text"
            id="phone"
            class="form-control"
            placeholder="Enter Phone "
          />
        </div>
        <!-- <div class="form-group">
          <label for="name"> Date Of Birth: </label>
          <input
            type="text"
            id="dateofbirth"
            class="form-control"
            placeholder="Enter Date Of Birth"
            ng-model="newuser.dateofbirth"
          />
        </div> -->
        <br />
        <input type="hidden" ng-model="newuser.id" />
        <input
          type="submit"
          class="btn btn-primary"
          class="btn btn-primary"
          value="Submit"
        />
      </form>
    </div>
  </div>
</body>
