
    <form  #shipmentForm="ngForm" class="grid place-items-center" (ngSubmit)="shipmentSubmit(shipmentForm)">
        <fieldset class="mb-3 p-5 bg-white border rounded">
            <div class="shipment-box">
                <label for="receiverName" class="block">Receiver Name</label>
                <input type="text" 
                ngModel
                #receiverName="ngModel"
                required="This field is required"
                minlength="3"
                name="receiverName" id="receiverName"
                class="border border-slate-300 p-2 rounded 2-full" 
                placeholder="Bruce Lee">
        <label for="country" class="block">Country</label>
        <input type="text" 
        ngModel
        #destination="ngModel"
        required="This field is required"
        name="destination" id="destination"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="Sweden">

        <label for="weight" class="block">Weight</label>
        <input type="text"
        ngModel
        #Weight="ngModel"
        required="This field is required"
        name="weight" id="weight"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="5" >
        
        <label for="boxColor" class="block">Box Color</label>
        <input type="text" 
        ngModel
        #boxColor="ngModel"
        required="This field is required"
        minlength="3"
        name="boxColor" id="boxColor"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="color" >
        
    </fieldset>
    <button   
    [disabled]="shipmentForm.form.invalid"
    type="submit" class="btn btn-primary">Send Shipment</button>
</form>
