<form  #shipmentForm="ngForm" class="grid place-items-center" (ngSubmit)="shipmentSubmit(shipmentForm)">
    <fieldset class="mb-3 p-5 bg-white border rounded">
        <label for="receiverName" class="block">Receiver Name</label>
        <input type="text" 
        ngModel
        #receiverName="ngModel"
        required="This field is required"
        minlength="3"
        name="receiverName" id="receiverName"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="Bruce Lee">
        <label for="country" class="block">Country</label>
        <input type="text" 
        ngModel
        #country="ngModel"
        required="This field is required"
        minlength="3"
        name="country" id="country"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="Sweden">

        <label for="weight" class="block">Weight</label>
        <input type="text"
        ngModel
        #Weight="ngModel"
        required="This field is required"
        minlength="3"
        name="Weight" id="Weight"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="5" >

        <label for="boxColor" class="block">Box Color</label>


        <input type="text" 
        ngModel
        #boxColor="ngModel"
        required="This field is required"
        minlength="3"
        name="boxColor" id="boxColor"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="color" >

        <ng-template [ngIf]="loggedIn">

            <label for="boxColor" class="block">Email</label>


        <input type="text" 
        ngModel
        #email="ngModel"
        required="This field is required"
        minlength="3"
        name="email" id="email"
        class="border border-slate-300 p-2 rounded 2-full" 
        placeholder="example@example.com" >
        </ng-template>
    </fieldset>
    <button   
    [disabled]="shipmentForm.form.invalid"
     type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Send Shipment</button>
</form>
