
<div class="color-theme-yellow h-screen grid place-items-center">
<div class="grid place-items-center">

 
    <ng-container
    *ngIf="loggedIn; then loggedIn; else notLoggedIn">
  </ng-container>
  
  <ng-template #loggedIn class="grid place-items-center">
    <!-- <div>
      Welcome back, {{user.username}}.
    </div> -->
    <app-shipment-form ></app-shipment-form>
    
  </ng-template>
  <ng-template #notLoggedIn class="grid place-items-center">
    <app-shipment-form-guestuser></app-shipment-form-guestuser>
  </ng-template>

<div
  *ngIf="loggedIn; else notLoggedIn">

  <app-shipment-form ></app-shipment-form>
</div>

<ng-template #notLoggedIn>
  <app-shipment-form-guestuser></app-shipment-form-guestuser>
</ng-template>
</div>


 
