<header>
</header>
<main class="color-theme-yellow h-screen">
<div class="grid place-items-center">
    <h1 class="text-xl font-mono p">Mystery boxes </h1>
    <button type="button" (click)="makeLoggedIn()" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">New Shipment</button>
</div>


<ng-template [ngIf]="loggedIn" class="grid place-items-center">

    <app-shipment-form></app-shipment-form>
</ng-template>
 
</main>
